.recipe-ingredients-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.recipe-ingredient-prompt {
  font-size: 29px;
  margin-top: 0px;
  margin-bottom: 0px; 
  font-weight: 800;
}

.recipe-name-text {
  font-size: 13px;
  color: #6C6D63;
  font-weight: 275;
}

.ingredient-container {
  width: 247px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: yellow solid 2px; */
}

.single {
  height: 62px;
  border-top: black solid 1.5px;
  border-bottom: black solid 1.5px;
  display: flex;
  align-items: center;
}

.first {
  height: 62px;
  border-top: black solid 1.5px;
  border-bottom: black solid .75px;
  display: flex;
  align-items: center;
}

.last {
  height: 62px;
  border-top: black solid .75px;
  border-bottom: black solid 1.5px;
  display: flex;
  align-items: center;
}

.others {
  height: 62px;
  border-top: black solid .75px;
  border-bottom: black solid .75px;
  display: flex;
  align-items: center;
}

.ingredient-details-container {
  width: 231px;
}

.remove-button {
  /* width: 10px; */
  height: 10px;
}

.ingredient-counter {
  text-align: start;
  font-size: 9px;
  font-weight: bold;
  /* margin-top: 0px;
  margin-bottom: 3px; */
  color: #6C6D63;
}

.ingredient-info {
  font-size: 10px;
  /* border: rgb(65, 45, 65) dotted 1.5px; */
}

.add-ingredient-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 247px;
  height: 35%;
}

.ingredient-input-count {
  text-align: start;
  font-size: 9px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 3px;
  color: #5A4CFF
}

.ingredient-input-container {
  width: 241px;
}

.recipe-ingredient-input {
  width: 100%;
  height: 31px;
  color: #6C6D63;
  border: #2D3126 solid 1px;
  border-radius: 25px;
}

.ingredient-dropdown-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.drop-down {
  width: 121px;
  height: 31px;
  border-radius: 25px;
}

.ingredient-notes-container {
  width: 241px;
}

.ingredient-notes {
  width: 100%;
  height: 31px;
  border: #2D3126 solid 1px;
  border-radius: 25px;
}

.button-control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add, .clear {
  font-size: 9px;
  width: 50%;
  text-decoration: underline;
  color: #5A4CFF;
}

.add {
  text-align: end;
  margin-right: 5px;
}

.clear{
  text-align: start;
  margin-left: 5px;
}

.ingredient-continue-button {
  width: 247px;
  height: 31px;
  border-radius: 32px;
  border: none;
  font-size: 14px;
  color: #FFF8F1;
  font-weight: 550;
  background-color: #5A4CFF;
}
