.recipe-name-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* background-color: #FFF8F1; */


.recipe-name-prompt {
  font-size: 26px;
  font-weight: bold;
}

.recipe-name-text {
  font-size: 13px;
  color: #2D3126;
  text-align: center;
}

.recipe-name-container {
  width: 100%;
}

.recipe-name {
  text-align: start;
  font-size: 10px;
  font-weight: bold;
  color: #5A4CFF
}

.recipe-name-input {
  width: 247px;
  height: 78px;
  border: #2D3126 solid 1px;
  border-radius: 25px;
}

.button-container {
  height: 45%;
}

.continue-button {
  margin-top: 27px;
  width: 247px;
  height: 31px;
  border-radius: 32px;
  border: none;
  font-size: 14px;
  color: #FFF8F1;
  font-weight: 550;
  background-color: #5A4CFF
}