.add-food-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.progress-container {
  display: flex;
  align-items: center;
  height: 98px;
  /* margin-bottom: 24px; */
}

.back-button-container {
  display: flex;
  align-items: center;
  flex: 1 1 100%;
  height: 10px;
}

.progress-bar-container {
  display: flex;
  flex: 1 1 180px;
  height: 12px;
  width: 100%;
  min-width: 180px;
  align-items: center;
  justify-content: center;
}

.back-button {
  height: 13px;
}

.progress-bar {
  height: 100%;
}

.add-a-recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-a-recipe {
  font-size: 19px;
  /* font-weight: 550; */
  color: #FF5C2B;
  letter-spacing: 2px;
  margin-top: 0px;
}

.current-component-container {
  height: 100%;
}

