.recipe-category-form {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-category-prompt {
  text-align: center;
  width: 350px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: bold;
}

.recipe-category-text {
  font-size: 20px;
  color: #6C6D63;
  text-align: center;
  width: 300px;
}

/* .button-container {
  width: 247px;
  height: 70%;
  display: flex;
  flex-direction: column;
} */

.button-options-container {
  width: 358px;
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  /* grid-template-rows: repeat(5, 1fr); */
  grid-column-gap: 7px;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1.5px;
  border-radius: 32px;
  height: 48px;
  width: 175px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #5A4CFF;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1.5px;
  border-radius: 32px;
  height: 48px;
  width: 175px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  color: red;
}

.category-continue-button-inactive {
  width: 358px;
  height: 48px;
  border-radius: 32px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  color: #FFF8F1;
  font-weight: 550;
  background-color: #9492F2;
}

.category-continue-button-active {
  width: 358px;
  height: 48px;
  border-radius: 32px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  color: #FFF8F1;
  font-weight: 550;
  background-color: #5A4CFF
}