.recipe-ingredients-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-ingredient-prompt {
  text-align: center;
  width: 350px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: bold;
}

.recipe-name-text {
  font-size: 20px;
  color: #6C6D63;
  text-align: center;
}

.ingredient-container {
  width: 100%;
}

.single {
  height: 98px;
  border-top: black solid 1.5px;
  border-bottom: black solid 1.5px;
  display: flex;
  align-items: center;
}

.first {
  height: 98px;
  border-top: black solid 1.5px;
  border-bottom: black solid .75px;
  display: flex;
  align-items: center;
}

.last {
  height: 98px;
  border-top: black solid .75px;
  border-bottom: black solid 1.5px;
  display: flex;
  align-items: center;
}

.others {
  height: 98px;
  border-top: black solid .75px;
  border-bottom: black solid .75px;
  display: flex;
  align-items: center;
}

.ingredient-details-container {
  width: 90%;
}

.remove-button {
  height: 16px;
}

.ingredient-counter {
  text-align: start;
  font-size: 14px;
  font-weight: bold;
  color: #6C6D63;
}

.ingredient-info {
  font-size: 14px;
}

.add-ingredient-form-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ingredient-input-count {
  text-align: start;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 3px;
  color: #5A4CFF
}

.recipe-ingredient-input {
  width: 100%;
  height: 48px;
  color: #6C6D63;
  border: #2D3126 solid 1px;
  border-radius: 25px;
  padding: 0 26px;
}

.ingredient-dropdown-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.drop-down {
  width: 175px;
  height: 48px;
  border-radius: 25px;
  padding: 0 48px;
}

option {
  font-size: 14px;;
}

.ingredient-notes {
  width: 100%;
  height: 48px;
  border: #2D3126 solid 1px;
  border-radius: 25px;
}

.button-control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add, .clear {
  font-size: 14px;
  width: 50%;
  text-decoration: underline;
  color: #5A4CFF;
}

.add {
  text-align: end;
  margin-right: 5px;
}

.clear{
  text-align: start;
  margin-left: 5px;
}

.ingredient-continue-button {
  width: 358px;
  height: 48px;
  border-radius: 32px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  color: #FFF8F1;
  font-weight: 550;
  background-color: #9492F2;
}

.ingredient-continue-button-active {
  width: 358px;
  height: 48px;
  border-radius: 32px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  color: #FFF8F1;
  font-weight: 550;
  background-color: #5A4CFF
}
