/* .instruction-container {
  height: 100%;
} */

.recipe-directions-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.recipe-directions-prompt {
  font-size: 29px;
  margin-top: 0px;
  margin-bottom: 0px; 
  font-weight: 800;
  text-align: center;
} 

.recipe-directions-text {
  font-size: 15px;
  color: #6C6D63;
  text-align: center;
  width: 250px;
}

/* .instruction-container {
  width: 241px;
} */

.single {
  height: 62px;
  border-top: black solid 1.5px;
  border-bottom: black solid 1.5px;
  display: flex;
  align-items: center;
}

.first {
  height: 62px;
  border-top: black solid 1.5px;
  border-bottom: black solid .75px;
  display: flex;
  align-items: center;
}

.last {
  height: 62px;
  border-top: black solid .75px;
  border-bottom: black solid 1.5px;
  display: flex;
  align-items: center;
}

.others {
  height: 62px;
  border-top: black solid .75px;
  border-bottom: black solid .75px;
  display: flex;
  align-items: center;
}

.instructions-detail-container {
  width: 231px;
}

.instruction-input-container {
  height: 24%;
}

.instruction-counter {
  text-align: start;
  font-size: 9px;
  font-weight: bold;
  /* margin-top: 0px;
  margin-bottom: 3px; */
  color: #6C6D63;
}

.remove-button {
  /* width: 10px; */
  height: 10px;
}

.instruction-input-counter {
  text-align: start;
  font-size: 9px;
  font-weight: bold;
  margin-bottom: 3px;
  color: #5A4CFF
}

.recipe-direction-input {
  width: 241px;
  height: 78px;
  border: #2D3126 solid 1px;
  border-radius: 25px;
}

.instructions-button-control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-instruction {
  font-size: 9px;
  width: 50%;
  text-decoration: underline;
  color: #5A4CFF;
  text-align: end;
  margin-right: 5px;
}

.clear-instruction {
  font-size: 9px;
  width: 50%;
  text-decoration: underline;
  color: #5A4CFF;
  text-align: start;
  margin-left: 5px;
}

.instruction-continue-button-container {
  height: 39%;
}

.instruction-continue-button {
  width: 247px;
  height: 31px;
  border-radius: 32px;
  border: none;
  font-size: 14px;
  color: #FFF8F1;
  font-weight: 550;
  background-color: #5A4CFF;
}