.recipe-name-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-name-prompt {
  text-align: center;
  width: 350px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: bold;
} 

.input-container {
  width: 358px;
  height: 142px;
}

.recipe-name {
  text-align: start;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
  color: #5A4CFF
}

.recipe-name-input {
  width: 100%;
  height: 120px;
  border: #2D3126 solid 1px;
  border-radius: 25px;
}

.clear-container {
  margin-top: 24px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #5A4CFF;
  text-decoration: underline;
}

.button-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.name-continue-button {
  width: 100%;
  height: 48px;
  border-radius: 32px;
  border: none;
  font-size: 14px;
  color: #FFF8F1;
  font-weight: 550;
  background-color: #5A4CFF;
}

.name-continue-button-inactive {
  width: 100%;
  height: 48px;
  border-radius: 32px;
  border: none;
  font-size: 14px;
  color: #FFF8F1;
  font-weight: 550;
  background-color: #9492F2;
}