.recipe-name-input {
  display: flex;
  align-items: center;
}

.recipe-input {
  height: 20px;
}

.recipe-name {
  margin-left: 10px;
}

/* .preparation-input-container, .ingredient-input-container {
  border: purple solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */

.ingredient-input, .preparation-input {
  margin-top: 5px;
  margin-left: 5px;
}

.ingredient-container, .preparation-container {
  width: 300px;
  height: 150px;
} 

.recipe-input, .ingredient-display-container, .preparation-display-container {
  border-radius: 10px;
}

.ingredient-display-container, .preparation-display-container {
  width: 300px;
  height: auto;
  border: black solid 1px;
}

.ingredient-input, .preparation-input {
  border: none;
} 

.save-recipe {
  margin-top: 10px;
}



